<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Employees</title>
  </head>
  <body>
    <h1>Employees information</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Hire date</th>
          <th scope="col">Job ID</th>
          <th scope="col">Salary</th>
          <th scope="col">Department ID</th>
          <th scope="col">DELETE</th>
          <th scope="col">EDIT</th>
        </tr>
      </thead>
      <tbody>
        {% for dep in dep%}
        <tr>
          <td>{{dep["emp_id"]}}</td>
          <td>{{dep["first_name"]}}</td>
          <td>{{dep["last_name"]}}</td>
          <td>{{dep["email"]}}</td>
          <td>{{dep["phone"]}}</td>
          <td>{{dep["hire_date"]}}</td>
          <td>{{dep["job_id"]}}</td>
          <td>{{dep["salary"]}}</td>
          <td>{{dep["department_id"]}}</td>
          <td><a href="/delete">DELETE</a></td>
          <td><a href="/edit">EDIT</a></td>
        </tr>
      </tbody>
      {%endfor%}
    </table>
    <a href="/main">Back to homepage</a>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
